Source: mailman-clamav
Section: mail
Priority: optional
Maintainer: Tollef Fog Heen <tfheen@debian.org>
Uploaders: Siggy Brentrup <bsb@debian.org>
Build-Depends: debhelper (>= 4.1.16), autoconf, python-dev, dpatch
Standards-Version: 3.6.1

Package: mailman-clamav
Architecture: all
Depends: mailman (= ${Source-Version})
Description: Mixin integrating Clam Antivirus into Mailman.
 Dunno yet, have to look into it.
