Source: mailman
Section: mail
Priority: optional
Maintainer: Siggy Brentrup <bsb@debian.org>
Build-Depends: debhelper (>= 4.1.16), autoconf, python-dev, dpatch
Standards-Version: 3.6.1

Package: mailman
Architecture: all
Pre-Depends: python (>= 2.3)
Depends: mailman-trans (= ${Source-Version}), mailman-bin (= ${Source-Version}), mailman-i18n (= ${Source-Version}) | mailman-en (= ${Source-Version}), logrotate, cron (>= 3.0pl1-42), exim4 | mail-transport-agent, apache | httpd, debconf (>= 1.4.16), pwgen
Conflicts: mailman (<= 2.1.4-4), suidmanager (<< 0.50), sendmail (<< 8.12.6), ssmtp, nullmailer
Replaces: mailman (<= 2.1.4-4)
Recommends: base-passwd (>= 1.3.0)
Suggests: mailman-doc (= ${Source-Version}), mailman-spamassassin | mailman-spamprobe, mailman-savannah, mailman-clamav
Description: powerful, web-based mailing list manager
 The GNU Mailing List Manager, which manages email discussion lists
 much like Majordomo and Smartmail. Unlike most similar products,
 Mailman gives each mailing list a web page, and allows users to
 subscribe, unsubscribe, etc. over the web.  Even list owners can
 administer their lists entirely from the web and delegate routine
 operations like approval of held messages to list moderators with
 restricted rights.
 .
 Mailman also integrates most things people want to do with mailing
 lists, including archiving, mail <-> news gateways, and so on.  It
 has all of the features you expect from such a product, plus
 integrated support for the web (including web based archiving),
 automated bounce handling and integrated spam prevention.
 .
 For more information see http://www.list.org/.

Package: mailman-trans
Architecture: all
Pre-Depends: python (>= 2.3)
Depends: ucf (>= 1.05)
Description: transitional package for mailman
 The kernel allowing only native compiled code to be installed setgid,
 theses wrappers invoke workers implemented in Python after validating
 arguments.

Package: mailman-bin
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: mailman (<= 2.1.4-4)
Description: setgid wrappers required for running mailman
 The kernel allowing only native compiled code to be installed setgid,
 theses wrappers invoke workers implemented in Python after validating
 arguments.

Package: mailman-i18n
Architecture: all
Pre-Depends: python (>= 2.3)
Depends: mailman-trans (= ${Source-Version}), debconf (>= 1.4.16)
Conflicts: mailman (<= 2.1.4-4), mailman-en
Replaces: mailman-en (= ${Source-Version})
Suggests: python2.3-korean-codecs, python-japanese-codecs
Description: language specific parts of mailman (international)
 Message translations plus international templates for web pages and
 automatically generated emails.

Package: mailman-en
Architecture: all
Pre-Depends: python (>= 2.3)
Depends: mailman-trans (= ${Source-Version}), debconf (>= 1.4.16)
Conflicts: mailman (<= 2.1.4-4), mailman-i18n
Replaces: mailman-i18n (= ${Source-Version})
Description: language specific parts of mailman (english only)
 English templates for web-pages and automatically generated emails.
 .
 This package is provided for the benefit of sites that don't need
 internationalization.

Package: mailman-doc
Architecture: all
Conflicts: mailman (<= 2.1.4-4)
Description: powerful, web-based mailing list manager (Documentation)
 Documentation and examples for mailman.

