#!/usr/bin/make -f
# -*- makefile -*- made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.
#
# $URL$
# $Id$

package=mailman
PACKAGE=$(package)

include /usr/share/dpatch/dpatch.make


export DH_VERBOSE=1

SHELL=/bin/bash

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

ifeq (,$(findstring archonly,$(DEB_BUILD_OPTIONS)))
build: build-arch build-indep
else
build: build-arch
endif


build-arch: patch-stamp Makefile
	$(MAKE) arch-subdirs 
	touch build-arch

build-indep: patch-stamp Makefile debian/po/templates.pot
	$(MAKE) indep-subdirs 
	touch build-indep

debian/po/templates.pot: debian/po/POTFILES.in debian/mailman.templates \
		debian/mailman-i18n.templates
	@debconf-updatepo

Makefile:
	autoconf
	./configure --prefix=/usr/lib/$(package) \
		--with-var-prefix=/var/lib/$(package) \
		--with-username=list --with-groupname=list \
		--with-mail-gid=daemon --with-cgi-gid=www-data \
		--without-permcheck --with-mailhost=localhost \
		--with-urlhost=localhost

clean: unpatch
	$(checkdir)
	-$(MAKE) distclean
	rm -rf build-indep build-arch Makefile
	dh_clean
	rm -rf $$(find . -name "*~")
	rm -rf debian/tmp debian/mailman debian/mailman-{bin,i18n,doc,trans}



binary-arch:	checkroot build-arch
	$(checkdir)

	$(MAKE) do-arch-install DESTDIR=$$(pwd)/debian/tmp

	dh_installdirs --same-arch
	dh_installdocs --same-arch
	dh_installchangelogs --same-arch
	dh_install --same-arch
	dh_shlibdeps --same-arch
	dh_strip --same-arch
	dh_fixperms --same-arch

	# The whole point of these wrappers is they are setgid list
	find debian/mailman-bin/usr/lib -type f | xargs chgrp list
	find debian/mailman-bin/usr/lib -type f | xargs chmod g+s

	dh_compress --same-arch
	dh_installdeb --same-arch
	dh_gencontrol --same-arch
	dh_md5sums --same-arch
	dh_builddeb --same-arch

binary-indep:	checkroot build-indep
	$(checkdir)

	mkdir -p debian/tmp/usr/share/images/mailman
	$(MAKE) do-indep-install DESTDIR=$$(pwd)/debian/tmp

	dh_installdirs --indep
	dh_installdocs --indep
	dh_installchangelogs --indep
	dh_install --indep
	dh_installman --indep
	dh_installlogrotate --indep
	dh_installinit --indep
	dh_fixperms --indep

	# remove .po files
	rm -f $$(find debian/mailman-i18n/usr/share/locale -name mailman.po)
	# remove templates.py which belongs into mailman
	rm -f debian/mailman-trans/usr/lib/mailman/Mailman/Debian/templates.py
	# move language README.lang to doc directory
	mv $$(find debian/mailman-i18n/usr/share/locale -name README.\*) \
		debian/mailman-i18n/usr/share/doc/mailman-i18n
	# Mailman/Post.py may be run as a script
	chmod a+x debian/mailman/usr/lib/mailman/Mailman/Post.py
	# Remove irrelevant READMEs
	rm -f debian/mailman/usr/share/doc/mailman/README.{BSD,MACOSX}

	dh_link --indep
	dh_compress --indep
	dh_installdebconf --indep
	dh_installdeb --indep
	dh_gencontrol --indep
	dh_md5sums --indep
	dh_builddeb --indep

define checkdir
	test -f debian/rules
endef

# Below here is fairly generic really

binary:		binary-indep binary-arch

checkroot:
	$(checkdir)
	dh_testroot

.PHONY: binary binary-arch binary-indep clean checkroot
