Source: mailman
Section: mail
Priority: optional
Maintainer: Siggy Brentrup <bsb@debian.org>
Build-Depends: debhelper (>= 4.1.16), autoconf, python-dev, dpatch
Standards-Version: 3.6.1

Package: mailman
Architecture: all
Pre-Depends: python (>= 2.3)
Depends: mailman-bin (= ${Source-Version}), logrotate, cron (>= 3.0pl1-42), exim4 | mail-transport-agent, apache | httpd, debconf (>= 1.4.16), pwgen
Conflicts: suidmanager (<< 0.50), sendmail (<< 8.12.6), ssmtp, nullmailer
Recommends: mailman-i18n (= ${Source-Version}), base-passwd (>= 1.3.0)
Suggests: mailman-doc (= ${Source-Version})
Description: powerful, web-based mailing list manager
 The GNU Mailing List Manager, which manages email discussion lists
 much like Majordomo and Smartmail. Unlike most similar products,
 Mailman gives each mailing list a web page, and allows users to
 subscribe, unsubscribe, etc. over the web.  Even list owners can
 administer their lists entirely from the web and delegate routine
 operations like approval of held messages to list moderators with
 restricted rights.
 .
 Mailman also integrates most things people want to do with mailing
 lists, including archiving, mail <-> news gateways, and so on.  It
 has all of the features you expect from such a product, plus
 integrated support for the web (including web based archiving),
 automated bounce handling and integrated spam prevention.
 .
 For more information see http://www.list.org/.

Package: mailman-bin
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: mailman (<= 2.1.4-4)
Description: setgid wrappers required for running mailman
 The kernel honoring only native compiled code being installed setgid,
 theses wrappers invoke workers implemented in Python after validating
 arguments.

Package: mailman-i18n
Architecture: all
Pre-Depends: python (>= 2.3)
Depends: mailman (= ${Source-Version}), debconf (>= 1.4.16)
Conflicts: mailman (<= 2.1.4-4)
Suggests: python2.3-korean-codecs, python-japanese-codecs
Description: international language specific parts of mailman
 Message translations plus international templates for web pages and
 automatically generated emails.

Package: mailman-doc
Architecture: all
Conflicts: mailman (<= 2.1.4-4)
Description: powerful, web-based mailing list manager (Documentation)
 Documentation and examples for mailman.

